@mixin button-style($bg-color, $text-color) {
    display: inline-block;
    padding: 10px 20px;
    background-color: $bg-color;
    color: $text-color;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 4px;
    outline: none;
    border: none;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}

@mixin banner {
    width: 100%;
    position: relative;
    color: white;

    .banner-content {
        position: absolute;
        top: 50px;
        width: 100%;

    }

    img {
        width: 100%;
    }

    span {
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;

        @include mQ(800px, 100px) {
            font-size: 20px;
            text-align: left;
        }
        @include mQ(3000px, 2000px) {
            font-size: 60px;
        }
    }

    span.sub-title {
        font-weight: bold;
        margin-bottom: 30px;
        color: $lightColor;
    }

    @include mQ(1200px) {
        max-height: 640px;
        overflow: hidden;
    }



}

@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin grid($cols, $mgn) {
    float: left;
    width: calc((100% - (($cols - 1) * $mgn)) / $cols);
    margin-right: $mgn;
    margin-bottom: $mgn;

    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }

}


@mixin mQ($args...) {
    @if length($args)==1 {
        @media screen and (max-width: nth($args, 1)) {
            @content;

        }
    }

    @if length($args)==2 {
        @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)) {
            @content;

        }
    }
}